# https://grafana.com/docs/grafana/latest/administration/provisioning/#alerting
# https://grafana.com/docs/grafana/latest/alerting/set-up/provision-alerting-resources/file-provisioning
apiVersion: 1

groups:
  - orgId: 1
    name: blackbox_http_rules
    folder: blackbox
    interval: 60s
    rules:
      - uid: http_endpoint_down
        title: HTTP Endpoint Down
        condition: A
        data:
          - refId: A
            datasourceUid: DS_PROMETHEUS
            relativeTimeRange:
              from: 600
              to: 0
            model:
              expr: 'probe_http_status_code <= 199 OR probe_http_status_code >= 400'
              instant: true
              intervalMs: 1000
              maxDataPoints: 43200
              refId: A
        dashboardUid: healthcheck-http
        noDataState: OK
        execErrState: Alerting
        for: 5m
        annotations:
          summary: "Blackbox probe HTTP failure"
          description: "HTTP status code is not 200-399\n  VALUE = {{ $value }}\n  LABELS = {{ $labels }}"
        labels:
          severity: error
          receiver: telegram
        isPaused: false
      - uid: ssl_certificate_will_expire_soon
        title: SSL Certificate Will Expire Soon
        condition: A
        data:
          - refId: A
            datasourceUid: DS_PROMETHEUS
            relativeTimeRange:
              from: 600
              to: 0
            model:
              expr: '0 <= round((last_over_time(probe_ssl_earliest_cert_expiry[10m]) - time()) / 86400, 0.1) < 5'
              instant: true
              intervalMs: 1000
              maxDataPoints: 43200
              refId: A
        dashboardUid: healthcheck-http
        noDataState: OK
        execErrState: Alerting
        for: 0m
        annotations:
          summary: "Blackbox SSL certificate will expire soon"
          description: "SSL certificate expires in less than 5 days\n  VALUE = {{ $value }}\n  LABELS = {{ $labels }}"
        labels:
          severity: error
          receiver: telegram
        isPaused: false
      - uid: ssl_certificate_expired
        title: SSL Certificate Expired
        condition: A
        data:
          - refId: A
            datasourceUid: DS_PROMETHEUS
            relativeTimeRange:
              from: 600
              to: 0
            model:
              expr: 'round((last_over_time(probe_ssl_earliest_cert_expiry[10m]) - time()) / 86400, 0.1) < 0'
              instant: true
              intervalMs: 1000
              maxDataPoints: 43200
              refId: A
        dashboardUid: healthcheck-http
        noDataState: OK
        execErrState: Alerting
        for: 0m
        annotations:
          summary: "Blackbox SSL certificate expired"
          description: "SSL certificate has expired already\n  VALUE = {{ $value }}\n  LABELS = {{ $labels }}"
        labels:
          severity: error
          receiver: telegram
        isPaused: false
      - uid: ssl_certificate_changed
        title: SSL Certificate Changed
        condition: A
        data:
          - refId: A
            datasourceUid: DS_PROMETHEUS
            relativeTimeRange:
              from: 600
              to: 0
            model:
              expr: 'changes(probe_ssl_last_chain_info[5m]) != 0'
              instant: true
              intervalMs: 1000
              maxDataPoints: 43200
              refId: A
        dashboardUid: healthcheck-http
        noDataState: OK
        execErrState: Alerting
        for: 5m
        annotations:
          summary: "SSL certificate metadata value changed"
          description: "The metric value 'probe_ssl_last_chain_info' has changed in the 5m\n  VALUE = {{ $value }}\n  LABELS = {{ $labels }}"
        labels:
          severity: error
          receiver: telegram
        isPaused: false
      - uid: slow_http
        title: Slow HTTP
        condition: A
        data:
          - refId: A
            datasourceUid: DS_PROMETHEUS
            relativeTimeRange:
              from: 600
              to: 0
            model:
              expr: 'avg_over_time(probe_http_duration_seconds[1m]) > 1'
              instant: true
              intervalMs: 1000
              maxDataPoints: 43200
              refId: A
        dashboardUid: healthcheck-http
        noDataState: OK
        execErrState: Alerting
        for: 5m
        annotations:
          summary: "Blackbox probe slow HTTP"
          description: "HTTP request took more than 1s\n  VALUE = {{ $value }}\n  LABELS = {{ $labels }}"
        labels:
          severity: error
          receiver: telegram
        isPaused: false
