# https://grafana.com/docs/grafana/latest/administration/provisioning/#alerting
# https://grafana.com/docs/grafana/latest/alerting/set-up/provision-alerting-resources/file-provisioning
apiVersion: 1

groups:
  - orgId: 1
    name: ssh_rules
    folder: ssh
    interval: 60s
    rules:
      - uid: ssh_new_session
        title: New SSH Session
        condition: B
        data:
          - refId: A
            datasourceUid: DS_LOKI
            relativeTimeRange:
              from: 600
              to: 0
            model:
              expr: sum by (user, ip) (count_over_time({exporter="alloy", job="loki.source.journal.read", syslog_identifier="sshd"} |= `Accepted` | pattern `Accepted <method> for <user> from <ip> port <port> ssh2` | method =~ `publickey|password` | user !~ `sftp|sftpuser` | ip != ip(`127.0.0.1`) | ip != ip(`10.10.10.1/24`) [5m]))
              instant: false
              intervalMs: 1000
              maxDataPoints: 43200
              refId: A
          - refId: B
            datasourceUid: __expr__
            model:
              type: reduce
              expression: A
              reducer: last
              refId: B
          - refId: C
            datasourceUid: __expr__
            model:
              type: threshold
              expression: B
              conditions:
                - evaluator:
                    type: gt
                    params:
                      - 0
                  operator:
                    type: and
                  reducer:
                    type: last
              refId: C
        dashboardUid: global-ssh
        noDataState: OK
        execErrState: Alerting
        for: 1m
        annotations:
          summary: "A new SSH session was opened"
          description: "A new SSH session was opened by user {{ $labels.user }} from IP {{ $labels.ip }}."
        labels:
          severity: error
          receiver: telegram
          no_resolved: true
        isPaused: false
