# https://grafana.com/docs/grafana/latest/administration/provisioning/#example-data-source-config-file
apiVersion: 1

datasources:
  - name: Prometheus
    type: prometheus
    access: proxy
    orgId: 1
    uid: DS_PROMETHEUS_UID
    url: http://prometheus:9090
    basicAuth: false
    isDefault: true
    jsonData:
      prometheusType: Prometheus
      allowAsRecordingRulesTarget: false
      tlsAuth: false
      tlsAuthWithCACert: false
  - name: Loki
    type: loki
    access: proxy
    orgId: 1
    url: http://loki:3100
    basicAuth: false
    isDefault: false
    version: 1
    editable: false
