# https://grafana.com/docs/grafana/latest/administration/provisioning/#data-sources
apiVersion: 1

prune: true

datasources:
  - name: Prometheus
    type: prometheus
    access: proxy
    orgId: 1
    uid: DS_PROMETHEUS
    url: http://prometheus:9090
    basicAuth: false
    isDefault: true
    jsonData:
      prometheusType: Prometheus
      allowAsRecordingRulesTarget: false
      tlsAuth: false
      tlsAuthWithCACert: false
  - name: Loki
    type: loki
    access: proxy
    orgId: 1
    uid: DS_LOKI
    url: http://loki:3100
    basicAuth: false
    isDefault: false
    version: 1
    editable: false
  - name: Alertmanager
    type: alertmanager
    access: proxy
    orgId: 1
    uid: DS_ALERTMANAGER
    url: http://alertmanager:9093
    basicAuth: false
    isDefault: false
    version: 1
    editable: false
    jsonData:
      implementation: prometheus
      handleGrafanaManagedAlerts: false
