{{ define "telegram.default" }}
{{ range .Alerts }}
{{ if eq .Status "firing" }}{{ if eq .Labels.severity "critical" }}🔴{{ else if eq .Labels.severity "warning" }}🟠{{ else if eq .Labels.severity "info" }}🔵{{ else }}🚨{{ end }} {{ .Labels.severity | toUpper }} {{ else }}✅ {{ .Status | toUpper }} ✅ {{ end }}
ALERTNAME: {{ .Labels.alertname }}
SUMMARY: {{ .Annotations.summary }}
SERVICE: {{ .Labels.service }}
{{ if eq .Status "firing" }}STARTS AT: {{ .StartsAt.Local }} {{ else }}ENDS AT: {{ .EndsAt.Local }} {{ end }}
{{ end }}
{{ end }}
