{{ define "telegram_home.default" }}
{{ range .Alerts }}
{{ if eq .Status "firing" }}🚨 {{ "ТРИВОГА" }} 🚨 {{ else }}✅ {{ "ВІДБІЙ ТРИВОГИ" }} ✅ {{ end }}
ПРОБЛЕМА: {{ .Annotations.summary }}
СЕРВІС: {{ .Labels.service }}
{{ if eq .Status "firing" }}ПОЧАТОК: {{ .StartsAt.Local }} {{ else }}ЗАКІНЧЕННЯ: {{ .EndsAt.Local }} {{ end }}
{{ end }}
{{ end }}
