{{ define "telegram_home.default" }}
{{ range .Alerts }}
{{ if eq .Status "firing" }}🚨 {{ "Тривога" }} 🚨 {{ else }}✅ {{ "Відбій тривоги" }} ✅ {{ end }}
Проблема: {{ .Annotations.summary }}
Сервіс: {{ .Labels.service }}
{{ if eq .Status "firing" }}Початок: {{ .StartsAt.Local }} {{ else }}Закінчення: {{ .EndsAt.Local }} {{ end }}
{{ end }}
{{ end }}
