{{ define "telegram.default" }}
{{ range .Alerts }}
{{ .Labels.alertname }}

{{ if eq .Status "firing" }}Severity: {{ .Labels.severity | title }} {{ if eq .Labels.severity "critical" }}🚨{{ else if eq .Labels.severity "warning" }}⚠️{{ else if eq .Labels.severity "info" }}ℹ️{{ else }}🚨{{ end }}{{ else }}Resolved ✅{{ end }}
Summary: {{ .Annotations.summary }}
Service: {{ .Labels.service }}
{{ if eq .Status "firing" }}Starts at: {{ .StartsAt.Local }} {{ else }}Ends at: {{ .EndsAt.Local }} {{ end }}
{{ end }}
{{ end }}
