{{ define "telegram.default" }}
{{ range .Alerts }}
{{ if eq .Status "firing" }}<b>Severity:</b> {{ .Labels.severity | title }} {{ if eq .Labels.severity "critical" }}🚨{{ else if eq .Labels.severity "warning" }}⚠️{{ else if eq .Labels.severity "info" }}ℹ️{{ else }}🚨{{ end }}{{ else }}Resolved ✅{{ end }}
<b>Summary:</b> {{ .Annotations.summary }}
<b>Service:</b> {{ .Labels.service }}
{{ if eq .Status "firing" }}<b>Starts at:</b> {{ .StartsAt.Local }} {{ else }}<b>Ends at:</b> {{ .EndsAt.Local }} {{ end }}
{{ end }}
{{ end }}
